.App {
  text-align: center;
}

.Container {
  background-color: gainsboro;
}

.Header {
  padding: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
  background-color: gainsboro;
}

.Footer {
  width: 100%;
  height: 50px;    
  background-color: whitesmoke;

}

.Footer p {
  text-align : right;
}

.Posts {
   max-width: 1100px; 
   margin-right: auto;
   margin-left: auto; 
   background-color: whitesmoke;

}

.Footer {
  bottom: 0;
  width: 100%;
  height: 50px;    
}

.Footer p {
  text-align : right;
}

.Post {
  padding: 10px;
}

.Post h2, h3, p {
  padding: 10px;
  text-align: center;
}

.Post button {
  margin:auto;
  display:block;
}